@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f2121;
}

/* Handle on hover */
::-webkit-scrollbar-thumb {
  background: #801e13;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d33434;
}

/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 0px;
}

.hero {
  background: url("../../public/assets/adnetwork-2.jpg");
  background-size: auto;
}

.about {
  background: url("../../public/assets/adnetwork-5-shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:  4px -500px 0 rgba(0, 0, 0, 0.2) inset, 0 6px -10px 0 rgba(0, 0, 0, 0.19) inset;
}

.shop {
  background: url("../../public/assets/adnetwork-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.game {
  z-index: 2;
  background: #3b3a3a81;
  opacity: 0.7;
}

.game--innercard {
  z-index: 5;
  box-shadow: 0px 0px 50vw #242222d8 inset;
}

.support {
  background: url("../../public/assets/adnetwork-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.news {
  background: #00171F;
}

.giveaway{
  background: url("../../public/assets/adnetwork-11.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.giveaway--shade{
  background: #000;
  opacity: 0.8;
}

.account {
  box-shadow: 0 0 100px white;
}

@media only screen and (max-width: 600px) {
  .hero {
    background: url("../../public/assets/adnetwork-2.jpg");
    background-size: auto 100vh;
    background-position: center;
  }
  
}

@media only screen and (max-width: 1100px) {
  .shop {
    background: url("../../public/assets/adnetwork-4.jpg");
    background-attachment: fixed;
    background-size: auto 100vh;
    background-position: center;
  }
}

/* .rating {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
  
  background:  purple;
  color: plum;
  width: 100px;
  height: 100px;
  /* Basic style for the text */
  