@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f2121;
}

/* Handle on hover */
::-webkit-scrollbar-thumb {
  background: #801e13;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d33434;
}

/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 0px;
}

.hero {
  background: url("../../public/assets/adnetwork-2.jpg");
  background-size: auto;
}

.about {
  background: url("../../public/assets/adnetwork-5-shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:  4px -500px 0 rgba(0, 0, 0, 0.2) inset, 0 6px -10px 0 rgba(0, 0, 0, 0.19) inset;
}